In [1]:
'''PURPOSE

The purpose of this code is to attempt to merge the Starr account data located in Saleforce with that of the 
company information located in Capital IQ.

Data Sources  = Two Excel spreadsheets, ene from Capital IQ and the other from Salesforce. 
Unique ID's   = Capital IQ will be the CIQ ID
                Salesforce will be the Ultimate Parent D&B number. 

Approach      = TBD

Questions   
1.) Does every company in our dataset have a CIQ and D&B number?
2.) Does every company in our dataset have a state, city and zip code?

Date:    02.07.2018
author:  Chris Cirelli
'''

"PURPOSE\n\nThe purpose of this code is to attempt to merge the Starr account data located in Saleforce with that of the \ncompany information located in Capital IQ.\n\nData Sources  = Two Excel spreadsheets, ene from Capital IQ and the other from Salesforce. \nUnique ID's   = Capital IQ will be the CIQ ID\n                Salesforce will be the Ultimate Parent D&B number. \n\nApproach      = TBD\n\nQuestions   \n1.) Does every company in our dataset have a CIQ and D&B number?\n2.) Does every company in our dataset have a state, city and zip code?\n\nDate:    02.07.2018\nauthor:  Chris Cirelli\n"

In [2]:
# LOAD LIBRARIES

In [3]:
import re
import os
import nltk
import pandas as pd
import matplotlib.pyplot as plt
import sys

os.chdir(r'C:\Users\Chris.Cirelli\Desktop\Python Programming Docs\GitHub\Starr-Project')
import Module_Starr_DataMerger as msd

In [4]:
# DEFINE DIRECTORY

In [5]:
os.chdir(r'C:\Users\Chris.Cirelli\Desktop\Capital IQ Match w Salesforce')

In [6]:
# IMPORT FILES

In [7]:
# Salesforce Data
df_CIQ = pd.read_excel('Private Company Target List 2062018.xls')

# Capital IQ Data
df_SF = pd.read_excel('Salesforce Data Dump - Capital IQ Merger.xlsx')
df_SF = df_SF[:-7]

In [8]:
# DATA ANALYTICS TABLE (DAT) CAPITAL IQ

In [9]:
'''
Datapoints = Client Name, Client Ultimate Parent DUNS Number, Billing City, Billing State/Province, 
Billing Zip/Postal Code'''

DAT_CIQ = df_CIQ[['Excel Company ID', 'Company Name', 'Primary State', 'Primary City', 'Primary Zip Code/Postal Code']]

In [10]:
DAT_SF = df_SF[['Client Ultimate Parent DUNS Number', 'Company Name', 'Billing State/Province', 'Billing City', 
                'Billing Zip/Postal Code']]

In [11]:
SF_company = DAT_SF['Company Name']

In [12]:
# CALCULATE NONE VALUES

In [13]:
print('None Values in dataframe:  DAT_CIQ', '\n',  msd.get_nanValues(DAT_CIQ))
print('')
print('None Values in dataframe:  DAT_SF', '\n', msd.get_nanValues(DAT_SF))

None Values in dataframe:  DAT_CIQ
 {'Excel Company ID': 0, 'Company Name': 0, 'Primary State': 0, 'Primary City': 0, 'Primary Zip Code/Postal Code': 0}

None Values in dataframe:  DAT_SF
 {'Client Ultimate Parent DUNS Number': 0, 'Company Name': 0, 'Billing State/Province': 0, 'Billing City': 0, 'Billing Zip/Postal Code': 0}

In [14]:
# GET FIRST AND SECOND COMPANY NAMES

In [15]:
DAT_CIQ_list_first_Name = msd.get_company_name(DAT_CIQ, 'First').copy()
DAT_CIQ_list_second_Name = msd.get_company_name(DAT_CIQ, 'Second').copy()

In [16]:
DAT_SF_list_first_Name = msd.get_company_name(DAT_SF, 'First').copy()
DAT_SF_list_Second_Name = msd.get_company_name(DAT_SF, 'Second').copy()

In [17]:
# Verify Lenghts of Lists

In [18]:
# Append First and Second Names to Dataframes

In [19]:
print(len(DAT_SF['Company Name']))
print(len(DAT_SF_list_first_Name))
print(len(DAT_SF_list_Second_Name))

38813
38813
38813

In [20]:
# RECREATE DATAFRAMES WITH FIRST AND SECOND NAMES APPENDED.

In [21]:
DAT_SF['Company First Name'] = DAT_SF_list_first_Name
DAT_SF['Company Second Name'] = DAT_SF_list_Second_Name
DAT_CIQ['Company First Name'] = DAT_CIQ_list_first_Name
DAT_CIQ['Company Second Name'] = DAT_CIQ_list_second_Name

C:\Users\Chris.Cirelli\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Chris.Cirelli\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Chris.Cirelli\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Chris.Cirelli\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [22]:
# CLEAN UP ZIP CODE

In [23]:
DAT_CIQ_ZIP = msd.clean_zip_code('DAT_CIQ', DAT_CIQ)
DAT_CIQ['Zip Code Clean'] = DAT_CIQ_ZIP
DAT_SF_ZIP = msd.clean_zip_code('DAT_SF', DAT_SF)
DAT_SF['Zip Code Clean'] = DAT_SF_ZIP

C:\Users\Chris.Cirelli\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Chris.Cirelli\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [24]:
DAT_SF.head()

,Client Ultimate Parent DUNS Number,Company Name,Billing State/Province,Billing City,Billing Zip/Postal Code,Company First Name,Company Second Name,Zip Code Clean
0,51957769.0,"Wal-Mart Stores, Inc.",AR,Bentonville,72716-6299,Wal-Mart,Stores,72716
1,51957769.0,"Wal-Mart Stores, Inc.",AR,Bentonville,72716-6299,Wal-Mart,Stores,72716
2,51957769.0,"Wal-Mart Stores, Inc.",AR,Bentonville,72716-6299,Wal-Mart,Stores,72716
3,51957769.0,"Wal-Mart Stores, Inc.",AR,Bentonville,72716-6299,Wal-Mart,Stores,72716
4,51957769.0,"Wal-Mart Stores, Inc.",AR,Bentonville,72716-6299,Wal-Mart,Stores,72716

In [25]:
DAT_CIQ.head()

,Excel Company ID,Company Name,Primary State,Primary City,Primary Zip Code/Postal Code,Company First Name,Company Second Name,Zip Code Clean
0,IQ184468,"Mars, Incorporated",Virginia,McLean,22101,Mars,Incorporated,22101
1,IQ201170,"Publix Super Markets, Inc.",Florida,Lakeland,33811,Publix,Super,33811
2,IQ117946,"Cox Enterprises, Inc.",Georgia,Atlanta,30328,Cox,Enterprises,30328
3,IQ160810,"CHS, Inc.",Minnesota,Inver Grove Heights,55077,CHS,Inc.,55077
4,IQ160716,"C&S Wholesale Grocers, Inc.",New Hampshire,Keene,3431,C&S,Wholesale,3431

In [26]:
# CREATE SET OF DF, COMPARE LEN WITH DF

In [ ]:
# CODE TO MERGE DATA SETS

In [33]:
DAT_SF_match = msd.get_match(DAT_CIQ, DAT_SF)

In [ ]:
New_col = [(x is None) for x in range(0,8899)]